<!DOCTYPE html>
<html lang="es">
{% block head %}
    <!-- METADATOS -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- TÍTULO -->
    <title>{% block title %}StreetVibesShop{% endblock %}</title>

    <!-- ENLACES A ARCHIVOS CSS -->
    <link rel="stylesheet" href="{{ asset('landing_page/css/estilos.css') }}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    
    <!-- FONTSAA -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Protest+Strike&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="content-wrapper">
    <!-- MENU -->
    <div id="menu">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="{% if isAuthenticated %}{{ path('app_homepage') }}{% else %}{{ path('app_landing_page') }}{% endif %}">
                    <img class="logo img-fluid" src="landing_page/img/Logo.png" alt="Logo" />
                </a>
                <!-- Botón Hamburguesa -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- CONTENIDO DEL MENÚ -->
                <div class="collapse navbar-collapse justify-content-between ps-3" id="navbarNavDropdown">
                    <ul class="navbar-nav">

                        <!-- Elementos del menú principal -->
                        <li class="nav-item dropdown" id="novedadesDropdown">
                            <a class="nav-link dropdown-toggle" href="{{ path('novedades_page') }}" id="navbarDropdownNovedades" role="button" aria-expanded="false">
                                NOVEDADES
                            </a>
                            <!-- Dropdown de Novedades -->
                            <ul class="dropdown-menu novedades" aria-labelledby="navbarDropdownNovedades">
                                <div class="d-flex">    
                                    <!-- Columna de novedades -->
                                    <div class="novedades-column">
                                        <li class="index-row-des">DESTACADOS</li>
                                        <li><a class="dropdown-item" href="{{ path('novedades_page') }}">Ver todas las novedades</a></li>
                                        <li><a class="dropdown-item" href="{{ path('novedades_page') }}">Novedades drops</a></li>
                                        <li><a class="dropdown-item" href="{{ path('novedades_page') }}">Novedades ropa</a></li>
                                        <li><a class="dropdown-item" href="{{ path('novedades_page') }}">Novedades calzado</a></li>
                                        <li><a class="dropdown-item" href="{{ path('novedades_page') }}">Novedades Accesorios</a></li>
                                    </div>

                                    <!-- Columna de marcas -->
                                    <div class="marcas-column">
                                        <li class="index-row-mar">MARCAS</li>
                                        <li><a class="dropdown-item" href="{{ path('novedades_page') }}">Nike</a></li>
                                        <li><a class="dropdown-item" href="{{ path('novedades_page') }}">FakeGods</a></li>
                                        <li><a class="dropdown-item" href="{{ path('novedades_page') }}">Adidas</a></li>
                                        <li><a class="dropdown-item" href="{{ path('novedades_page') }}">TwoJeys</a></li>
                                        <li><a class="dropdown-item" href="{{ path('novedades_page') }}">Puma</a></li>
                                    </div>

                                    <!-- Columna de imagenes -->
                                    <div class="img-novedades d-flex">
                                        <div class="image-container-nov"><img src="landing_page/img/Menu/Novedades/1.jpg" alt="Foto vaqueros novedades"></div>
                                        <div class="image-container-nov"><img src="landing_page/img/Menu/Novedades/2.jpg" alt="Foto camiseta novedades"></div>
                                        <div class="image-container-nov"><img src="landing_page/img/Menu/Novedades/3.jpg" alt="Foto sudadera novedades"></div>          
                                    </div>
                                </div>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('drops_page') }}">DROPS</a>
                        </li>
                        <!-- Dropdown de Calzado -->
                        <li class="nav-item cal" id="calzadoDropdown">
                            <a class="nav-link cal" href="{{ path('calzado_page') }}"id="navbarDropdownCalzado" role="button" aria-expanded="false">
                                CALZADO
                            </a>
                            <ul class="dropdown-menu calzado" aria-labelledby="navbarDropdownCalzado">
                                <div class="d-flex">    
                                    <!-- Columna de tipos de calzado -->
                                    <div class="calzado-column">
                                        <li class="index-row-des">DESTACADOS</li>
                                        <li><a class="dropdown-item" href="{{ path('calzado_page') }}">Ver toda el calzado</a></li>
                                        <li><a class="dropdown-item" href="{{ path('calzado_page') }}">Zapatillas</a></li>
                                        <li><a class="dropdown-item" href="{{ path('calzado_page') }}">Botas</a></li>
                                        <li><a class="dropdown-item" href="{{ path('calzado_page') }}">Sandalias</a></li>
                                        <li><a class="dropdown-item" href="{{ path('calzado_page') }}">Tacones</a></li>
                                    </div>

                                    <!-- Columna de marcas de calzado -->
                                    <div class="marcas-calzado-column">
                                        <li class="index-row-mar">MARCAS</li>
                                        <li><a class="dropdown-item" href="{{ path('calzado_page') }}">Nike</a></li>
                                        <li><a class="dropdown-item" href="{{ path('calzado_page') }}">Adidas</a></li>
                                        <li><a class="dropdown-item" href="{{ path('calzado_page') }}">Puma</a></li>
                                        <li><a class="dropdown-item" href="{{ path('calzado_page') }}">Reebok</a></li>
                                    </div>

                                    <!-- Columna de imágenes de calzado -->
                                    <div class="img-calzado d-flex">
                                        <div class="image-container-cal"><img src="landing_page/img/Menu/Calzado/1.jpg" alt="Foto zapatillas calzado"></div>
                                        <div class="image-container-cal"><img src="landing_page/img/Menu/Calzado/2.jpg" alt="Foto botas calzado"></div>
                                        <div class="image-container-cal"><img src="landing_page/img/Menu/Calzado/3.jpg" alt="Foto sandalias calzado"></div>          
                                    </div>
                                </div>
                            </ul>
                        </li>

                        <!-- Dropdown de Ropa -->
                        <li class="nav-item rop" id="ropaDropdown">
                            <a class="nav-link rop" href="{{ path('ropa_page') }}" id="navbarDropdownRopa" role="button" aria-expanded="false">
                                ROPA
                            </a>
                            <ul class="dropdown-menu ropa" aria-labelledby="navbarDropdownRopa">
                                <div class="d-flex">    
                                    <!-- Columna de tipos de ropa -->
                                    <div class="ropa-column">
                                        <li class="index-row-des">DESTACADOS</li>
                                        <li><a class="dropdown-item" href="{{ path('ropa_page') }}">Ver toda la ropa</a></li>
                                        <li><a class="dropdown-item" href="{{ path('ropa_page') }}">Chaquetas</a></li>
                                        <li><a class="dropdown-item" href="{{ path('ropa_page') }}">Camisetas</a></li>
                                        <li><a class="dropdown-item" href="{{ path('ropa_page') }}">Pantalones</a></li>
                                        <li><a class="dropdown-item" href="{{ path('ropa_page') }}">Sudaderas</a></li>
                                    </div>

                                    <!-- Columna de marcas de ropa -->
                                    <div class="marcas-ropa-column">
                                        <li class="index-row-mar">MARCAS</li>
                                        <li><a class="dropdown-item" href="{{ path('ropa_page') }}">Carhartt</a></li>
                                        <li><a class="dropdown-item" href="{{ path('ropa_page') }}">Kenzo</a></li>
                                        <li><a class="dropdown-item" href="{{ path('ropa_page') }}">Lacoste</a></li>
                                        <li><a class="dropdown-item" href="{{ path('ropa_page') }}">Pleasures</a></li>
                                    </div>

                                    <!-- Columna de imágenes de ropa -->
                                    <div class="img-ropa d-flex">
                                        <div class="image-container-ropa"><img src="landing_page/img/Menu/Ropa/1.jpg" alt="Foto varsity ropa"></div>
                                        <div class="image-container-ropa"><img src="landing_page/img/Menu/Ropa/2.jpg" alt="Foto vaqueros cortos ropa"></div>
                                        <div class="image-container-ropa"><img src="landing_page/img/Menu/Ropa/3.jpg" alt="Foto camiseta ropa"></div>          
                                    </div>
                                </div>
                            </ul> 
                        </li>

                        <!-- Dropdown de Accesorios -->
                        <li class="nav-item accesorios" id="accesoriosDropdown">
                            <a class="nav-link accesorios" href="{{ path('accesorios_page') }}" id="navbarDropdownAccesorios" role="button" aria-expanded="false">
                                ACCESORIOS
                            </a>
                            <ul class="dropdown-menu accesorios" aria-labelledby="navbarDropdownAccesorios">
                                <div class="d-flex">    
                                    <!-- Columna de tipos de accesorios -->
                                    <div class="accesorios-column">
                                        <li class="index-row-des">DESTACADOS</li>
                                        <li><a class="dropdown-item" href="{{ path('accesorios_page') }}">Ver todos los accesorios</a></li>
                                        <li><a class="dropdown-item" href="{{ path('accesorios_page') }}">Decoración</a></li>
                                        <li><a class="dropdown-item" href="{{ path('accesorios_page') }}">Joyería</a></li>
                                        <li><a class="dropdown-item" href="{{ path('accesorios_page') }}">Gorros y gorras</a></li>
                                        <li><a class="dropdown-item" href="{{ path('accesorios_page') }}">Mochilas</a></li>
                                    </div>

                                    <!-- Columna de imágenes de accesorios -->
                                    <div class="img-accesorios d-flex">
                                        <div class="image-container-accesorios"><img src="landing_page/img/Menu/Accesorios/1.jpg" alt="Foto zapatillas calzado"></div>
                                        <div class="image-container-accesorios"><img src="landing_page/img/Menu/Accesorios/2.jpg" alt="Foto botas calzado"></div>
                                        <div class="image-container-accesorios"><img src="landing_page/img/Menu/Accesorios/3.jpg" alt="Foto sandalias calzado"></div>          
                                    </div>
                                </div>
                            </ul>
                        </li>
                    </ul>
                    <!-- Iconos y selector de idioma -->
                    <ul class="navbar-nav icons">
                        <li class="nav-item">
                            {% if isAuthenticated %}
                                <a class="nav-link" href="{{ path('app_logout') }}">
                                    <i class="bi bi-box-arrow-right"></i> Cerrar Sesión
                                </a>
                            {% else %}
                                <a class="nav-link" href="{{ path('app_login') }}">
                                    <i class="bi bi-person-fill"></i> Iniciar Sesión
                                </a>
                            {% endif %}
                        </li>
                        <li class="nav-item">
                            {% if isAuthenticated %}
                                <a class="nav-link" href="{{ path('app_carrito') }}">
                                    <i class="bi bi-cart"></i>
                                </a>
                            {% else %}
                                <a class="nav-link" href="{{ path('app_login') }}">
                                    <i class="bi bi-cart"></i>
                                </a>
                            {% endif %}
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="bi bi-search"></i>
                            </a>
                        </li>  
                        <li class="nav-item">
                            <div class="idioma">
                                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    ES
                                </button>
                                <!-- Menú desplegable de idiomas -->
                                <div class="dropdown-menu idiomas" aria-labelledby="navbarDropdownIdiomas">
                                    <a class="dropdown-item" href="#" onclick="changeLanguage('EN')">EN</a>
                                    <a class="dropdown-item" href="#" onclick="changeLanguage('FR')">FR</a>
                                    <a class="dropdown-item" href="#" onclick="changeLanguage('DE')">DE</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
    </div> <!-- menu -->
    
    <!-- Contenido Principal -->
    <div class="container mt-5 mb-5">

        <div class="row mb-3">
            <div class="col">
                <h2>Inicio/Ropa</h2>
                <p>8 artículos</p>
            </div>
            <div class="col text-end">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button">
                    Ordenar por
                </button>
                <button class="btn btn-outline-secondary ms-2">
                    Filtro
                </button>
            </div>
        </div>
        
        <!-- Artículos -->
        <div class="row">
            {% for producto in pagination %}
                <div class="col-sm-6 col-md-3 mb-4">
                    <div class="card h-100">
                        <!-- Imagen del artículo -->
                        <img src="{{ asset('landing_page/img/Articulos/Ropa/' ~ producto.id ~ '.JPG') }}" class="card-img-top" alt="{{ producto.nombre }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ producto.nombre }}</h5>
                            <p class="card-text">Cantidad disponible: {{ producto.cantidad }}</p>
                            <!-- Añadir precio del producto -->
                            <p class="card-text">Precio: {{ producto.precio | number_format(2, '.', ',') }} €</p>
                            <!-- Formulario para añadir producto al carrito con selección de talla -->
                            {% if isAuthenticated %}
                                <form action="{{ path('app_añadir_a_carrito', {'idProducto': producto.id}) }}" class="add-to-cart-form" method="post">
                                    <div class="mb-3">
                                        <label for="talla-{{ producto.id }}" class="form-label">Talla:</label>
                                        <select name="talla" id="talla-{{ producto.id }}" class="form-select">
                                            {% for talla in tallas %}
                                                <option value="{{ talla.id }}">{{ talla.nombre }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="cantidad-{{ producto.id }}" class="form-label">Cantidad:</label>
                                        <input type="number" id="cantidad-{{ producto.id }}" name="cantidad" value="1" min="1" max="{{ producto.cantidad }}" class="form-control"/>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Añadir al carrito</button>
                                </form>
                            {% else %}
                                <a href="{{ path('app_login') }}" class="btn btn-primary">Iniciar sesión para añadir al carrito</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% else %}
                <p>No hay productos disponibles.</p>
            {% endfor %}
        </div>

        <!-- Popup de confirmación -->
        <div id="add-to-cart-popup" class="popup">
            <div class="popup-content">
                <span class="close-popup">&times;</span>
                <p>Producto añadido correctamente al carrito.</p>
            </div>
        </div>

        <!-- Paginación -->
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if pagination.currentPageNumber != 1 %}
                    <li class="page-item">
                        <a class="page-link" href="{{ path('ropa_page', {'page': pagination.currentPageNumber - 1}) }}" tabindex="-1">Anterior</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">Anterior</span>
                    </li>
                {% endif %}
                {% set pageCountLimit = 2 %}
                {% set pageCountToShow = 0 %}
                {% for page in range(1, pagination.pageCount) %}
                    {% if pagination.currentPageNumber == page %}
                        <li class="page-item active">
                            <span class="page-link">{{ page }}</span>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="{{ path('ropa_page', {'page': page}) }}">{{ page }}</a>
                        </li>
                    {% endif %}
                    {% set pageCountToShow = pageCountToShow + 1 %}
                    {% if pageCountToShow >= pageCountLimit %}
                        {% set pageCountToShow = pagination.pageCount %}
                    {% endif %}
                {% endfor %}
                {% if pagination.currentPageNumber != pagination.pageCount %}
                    <li class="page-item">
                        <a class="page-link" href="{{ path('ropa_page', {'page': pagination.currentPageNumber + 1}) }}">Siguiente</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">Siguiente</span>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>

    <!-- Footer -->
    <footer>
        <div class="footer bg-dark text-white pt-4 pb-2">
            <div class="container">
                <div class="row">
                    <!-- Guía de compras -->
                    <div class="col-md-3">
                        <h5>Guía de Compras</h5>
                        <ul class="list-unstyled">
                            <li><a href="#" class="text-white">Envíos y plazos de entrega</a></li>
                            <li><a href="#" class="text-white">Métodos de pago</a></li>
                            <li><a href="#" class="text-white">Devoluciones</a></li>
                            <li><a href="#" class="text-white">¿Cuál es mi talla?</a></li>
                        </ul>
                    </div>

                    <!-- Información de contacto -->
                    <div class="col-md-2">
                        <h5>Contacto</h5>
                        <p><i class="bi bi-telephone-fill"></i> +34 123 456 789</p>
                        <p><i class="bi bi-envelope-fill"></i> info@streetvibesshop.com</p>
                    </div>
                    <!-- Enlaces rápidos -->
                    <div class="col-md-2">
                        <h5>Enlaces Rápidos</h5>
                        <ul class="list-unstyled">
                            <li>
                                {% if isAuthenticated %}<a href="{{ path('app_homepage') }}"     class="text-white">Inicio</a>
                                {% else %}              <a href="{{ path('app_landing_page') }}" class="text-white">Inicio</a>
                                {% endif %}
                            </li>
                            <li><a href="{{ path('novedades_page') }}"  class="text-white">Novedades</a></li>
                            <li><a href="{{ path('drops_page') }}"      class="text-white">Drops</a></li>
                            <li><a href="{{ path('ropa_page') }}"       class="text-white">Ropa</a></li>
                            <li><a href="{{ path('accesorios_page') }}" class="text-white">Accesorios</a></li>
                            <li><a href="{{ path('mapaweb_page') }}"    class="text-white">Mapa Web</a></li>
                        </ul>
                    </div>
                    <!-- Redes sociales -->
                    <div class="col-md-2">
                        <h5>Síguenos</h5>
                        <a href="#" class="text-white"><i class="bi bi-instagram"></i> Instagram</a><br>
                        <a href="#" class="text-white"><i class="bi bi-facebook"></i> Facebook</a><br>
                        <a href="#" class="text-white"><i class="bi bi-twitter"></i> Twitter</a>
                    </div>
                    
                    <!-- Centro de ayuda -->
                    <div class="col-md-3">
                        <h5>Centro de Ayuda</h5>
                        <ul class="list-unstyled">
                            <li><a href="#" class="text-white">FAQ</a></li>
                            <li><a href="#" class="text-white">Política de cookies</a></li>
                            <li><a href="#" class="text-white">Condiciones generales de contratación</a></li>
                            <li><a href="{{ path('accessibilidad_page') }}" class="text-white">Declaración de accesibilidad</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- SCRIPTS -->
    {% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="{{ asset('landing_page/script.js') }}" defer></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var forms = document.querySelectorAll('.add-to-cart-form');
            var popup = document.getElementById('add-to-cart-popup');
            var closePopup = document.querySelector('.close-popup');

            forms.forEach(function(form) {
                form.addEventListener('submit', function(event) {
                    event.preventDefault();
                    var formData = new FormData(form);
                    fetch(form.action, {
                        method: 'POST',
                        body: formData,
                        headers: {
                            'X-Requested-With': 'XMLHttpRequest'
                        }
                    }).then(function(response) {
                        if (response.ok) {
                            return response.json();
                        } else {
                            throw new Error('Network response was not ok.');
                        }
                    }).then(function(data) {
                        popup.style.display = 'block'; // Aquí se muestra el popup
                        setTimeout(function() {
                            popup.style.display = 'none';
                        }, 3000); // Extendido a 3 segundos
                    }).catch(function(error) {
                        console.error('Error:', error);
                    });
                });
            });

            closePopup.addEventListener('click', function() {
                popup.style.animation = 'fadeOut 1s forwards'; // Animación de salida
                setTimeout(function() {
                    popup.style.display = 'none'; // Ocultar el popup después de la animación de salida
                }, 1000); // Extendido a 1 segundo
            });
        });

    </script>
    {% endblock %}
{% endblock %}
</html>